.Todo, .Todo-edit-form {
    text-align: left;
    margin-bottom: 5px;
}

.Todo-buttons {
    float: right;
}

.Todo-edit, .Todo-remove, .Todo-mark {
    float: none;
}

.Todo-complete {
    text-decoration-line: line-through;
}